:root {
    /* color palette for website */
    --primary-color: #F3F3E0;
    --secondary-color: #8EACCD;
    --footer-color: rgb(69, 69, 69);


}

iframe{
    width: 560px;
    height: 315px;
    margin-bottom:1em;
 }

html {
    scroll-padding-top: 10rem;
  }


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(145deg, var(--secondary-color) 30%, var(--primary-color) 80%);
}

p {
    font-family: "Poppins", sans-serif;
}

h1, h2, h3 {

    font-family: "Libre Franklin", sans-serif;
}


/* -------------------Header style ----------------------------------*/
.header {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 0 0 1rem 1rem; */
}

/* Logo */
#logo {
    width: 15rem;
    height: auto;
    padding: 0.5rem 1rem;
}

/* Search bar */
#search-bar {
    position: relative;
    min-width: 40rem;
    /* display: flex; */
    /* align-items: center; */
}

#search-bar>input {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    border: 1px solid gainsboro;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    outline: none;
}

#search-bar>.search-button {
    background: none;
    border: none;
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
}

#search-icon {
    width: 2.5rem;
    height: 2.5rem;
}

/* Navigation bar */
#navBar {
    margin-right: 2rem;
}

/* #navBar>ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;

} */

#navBar li a {
    text-decoration: none;
    padding: 0.5rem;
    /*0.8*/
    border-radius: 1rem;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    transition: background-color 0.3s;
    float: left;
}

#navBar li a:hover {
    color: white;

}




/* ------------------INDEX MAIN CSS---------------------------- */
main {
    margin-top: 6rem;
    padding: 3rem 1.5rem;

}

/* Main section layout */
#main-section {
    width: 100%;
    
}

#index-main {
    padding: 2rem;
   

}

/* Welcome section styling */
#Welcome-section, #categories-section, #member-section {
    padding: 2.5rem;
    background-color: #ffffff;
    color: #333;
    border-radius: 4rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* transform-style: preserve-3d; */
    margin-bottom: 2rem;
    overflow: hidden;
}

#Welcome-section:hover, #categories-section:hover, #member-section:hover {
    /* transform: translateZ(20px) scale(1.01); */
    transform: translateY(-10px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
}


#content>h2, #categories-section>h2 {
    font-size: 5em;
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-style: italic;
}

#Welcome-section p, #categories-section p {
    font-size: 1.5em;
    line-height: 1.8;
    color: #ffffff;
    margin-bottom: 5em;

}

#image-container img, #categories-section img {
    float: left;
    width: 150px;
    height: auto;
    filter: drop-shadow(0 0 0.75rem rgb(124, 124, 124));
}

#image-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#Welcome-section ul>li {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0.75rem;
    color: #ffffff;

}

#categories-section a {
    text-decoration: none;
    color: #b9b9b9;
    font-weight: bold;
    transition: color 0.3s ease;
}

#categories-section a:hover {
    color: var(--secondary-color);
}


#member-section {
    background-color: #021526;
   
}

#member-section>h2 {
    font-size: 5em;
    margin-bottom: 1.5rem;
    color: #ffffff;


}

#member-section p {
    font-size: 2em;
    color: #ffffff;
    float: left;
    width: 17em;
    line-height: 1.5em;
}

#paragraph-button {

    float: left;
    text-align: center;
    margin-right: 10em;
    margin-bottom: 10em;
    grid-gap: 5em;
}

#paragraph-button {
    text-align: left;
}

#paragraph-button .login-or-signup {
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4rem;
    border: 5px white;
    width: 70%;
    height: 3em;
    margin-left: 1.5em;
    font-size: 1.5em;
}

#member-section>img {
    float: right;
    width: 500px;
    height: 500px;
    margin-right: 10em;
    margin-bottom: 5em;

}


#Welcome-section {
    padding-top: 0%;
    overflow: hidden;
    
    position: relative;
    z-index: 1;
}

.back-video {
    position: absolute;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

}

#content>h2 {
    margin-top: 0.5em;
}


#categories-section {
    
    background-image: url("../Resources/intersting-img.png");
}


/* ---------------- CATEGORIES CSS ----------------- */


.intro h2 {
    font-size: 10rem;
    font-weight: 400;
    color: rgba(10, 10, 10, 0.6);
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 100%;

}


.intro p {
    font-size: 1.5rem;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
    max-width: 100%;
}


.category-card h2 {
    font-size: 2.25rem;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    line-height: 1.1;
}

.category-card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 1.1rem;
}



.category-card {
    width: 26rem;
    height: 36rem;
    overflow: hidden;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}


.category-card img {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    transition: transform 500ms ease-in;
}

.category-card-container {
    height: 100%;
    padding: 2rem 1.25rem 1.875rem;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.5) 5%,
            rgba(0, 0, 0, 1) 100%);
    transform: translateY(70%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
}



.category-card-container h2 {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.category-card-container h2::after {
    content: "";
    position: absolute;
    height: 0.4rem;
    width: calc(100% + 1.25rem);
    bottom: -0.75rem;
    left: 0;
    background-color: #8EACCD;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
}


.category-card-container>p, .category-card-container>ul {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
}



.category-card:hover .category-card-container {
    transform: translateY(0);
    transition: transform 500ms ease-in;
}


.category-card:hover img {
    transform: scale(1.3);
}


.category-card:hover .category-card-container>p,
.category-card:hover .category-card-container>ul {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
}


.category-card:hover h2::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
}


.category-card-container ul {
    padding-left: 2rem;
}

.category-card-container ul li a {
    color: #fcfcfc;
    text-decoration: none;
}

.category-card-container ul li {
    position: relative;
    left: 0;
    color: #fcfcfc;
    list-style: none;
    border-left: 2px solid #8EACCD;
    transition: 0.5s;
    cursor: pointer;
}

.category-card-container ul li:hover {
    left: 10px;
}

.category-card-container ul li span {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
}

.category-card-container ul li:hover span {
    color: #111;
}

.category-card-container ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8EACCD;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

.category-card-container ul li:hover:before {
    transform: scaleX(1);
}

























/*--------------OPERATING SYSTEMS CSS-----------*/
/* #operating-main {
    margin-top: 6.8em;
    padding-bottom: 1em;
} */


#subcat-main .page-titles>h1, #subcat-main .page-titles>h2 {
    color: white;
    font-size: 5em;
    font-style: italic;
    margin-bottom: 0.1em;
    margin-left: 0.3em;
}

#subcat-main .page-titles>h2 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
}



#subcat-main>p {
    color: white;
    font-size: 1.5em;
    line-height: 2em;
    text-align: left;
    margin-left: 0.6rem;
    margin-right: 4rem;
    padding: 0.5em;

    margin-bottom: 5em;


}

#subcat-main .emphasize {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 3em;

}

#subcat-main .emphasize-child {
    line-height: 1em;
    font-size: 1.7em;


}


#subcat-main .keywords {
    border-bottom: 5px solid #F3F3E0;
    border-bottom-style: double;
    padding: 0.2em;

}

#subcat-main>img {
    width: 200px;
    height: 200px;
    padding-bottom: 2em;
    padding-right: 2em;
    margin-top: -12em;
    float: right;

}

#book-section, #lecture-section {
    background-color: #ffffff;
    color: #333;
    border-radius: 4rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 3rem;
    padding: 2.5rem;
    transform: translateY(-20px);
    width: 55%;
    box-sizing: border-box;
}



#book-section:hover, #lecture-section:hover, #page-description:hover {
    transform: translateY(-30px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
}

#lecture-section {
    margin-bottom: 0em;
}

#book-section h2, #lecture-section h2 {
    text-align: center;
    font-size: 2em;

}



.book, .lecture {
    box-sizing: border-box;
    height: fit-content;
    transition: box-shadow 0.2s ease;
    border: 1px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 2rem;
    margin-bottom: 1rem;

}


.book:hover, .lecture:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

}

.book header>h1 {
    margin-bottom: 1em;
}

.book header>h1>a {
    text-decoration: none;
    color: black;

}

.book cite:hover {
    text-decoration: underline;
    color: black;
}

.book img {
    margin-bottom: 1em;
    border: 3px solid black;
}

.book>p {
    margin-top: 0.5em;
    font-weight: 300;
    text-align: left;
}

.book .author, .book .price, .book .pages, .book .stars-rating, .lecture .university, .instructor, .number-of-lectures, .duration {
    font-size: 1em;
    text-align: left;
    height: 2em;
    font-weight: bold;
}


.book.author {
    margin-top: 1em;
}

.book .price {
    margin-top: 0.5em;
    text-align: end;
    display: block;

}


#lecture-section>h2, #book-section>h2 {
    padding-top: 2em;
    text-align: center;
    font-size: 2em;
    background-color: #ffffff;
    border-radius: 4rem;

}



.lecture {
    padding-top: 2em;
    background-color: #ffffff;

}



.lecture>img {
    width: 650px;
    height: 400px;
    margin-bottom: 3em;
    border: solid black 3px
}

.lecture>header>h1 {
    margin-bottom: 3em;
    text-align: center;


}

.lecture>header>h1>a {
    text-decoration: none;
    color: black;
}

.lecture>header>h1>a:hover {
    text-decoration: underline;
    color: black;

}

.lecture .university, .lecture .instructor, .lecture .number-of-lectures, .lecture .duration, .stars-rating {

    margin-left: 1em;
    ;
}

.lecture .instructor {
    margin-top: 1em;
}

.lecture .duration, .lecture .stars-rating {
    margin-bottom: 1em;
}


.lecture .mini-description {
    font-size: 1em;
    text-align: left;
    padding-right: 5em;
    height: fit-content;
    margin-left: 1em;
    font-weight: 300;

}




.filters, .key-terms {
    width: 25%;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #333;
    border-radius: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height: fit-content;
    padding-bottom: 1rem;
}



.filters>details, .key-terms>details {
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem 1rem 1rem 1.5rem;
    width: 100%;
}

.key-terms>details {
    font-size: 1rem;
    margin: 1rem auto;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background: var(--primary-color);
    border-radius: 2rem;
    max-width: 90%;
}

.filters>details:last-of-type, .key-terms>details {
    border-bottom: 0px;
}


.filters>details>summary {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.filters summary, .key-terms summary {
    list-style-type: none;
}


.key-terms>details>summary {
    padding: 1em;
    font-size: large;
    font-style: italic;
    cursor: pointer;
}

.filters summary::after, .key-terms summary::after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    margin-left: 1rem;
    opacity: 0.7;
    cursor: pointer;

}

.key-terms summary::after {
    font-weight: bold;
    font-style: normal;
}

.filters summary:hover::after, .filters details[open]>summary:hover::after, .key-terms summary:hover::after, .key-terms details[open]>summary:hover::after {

    opacity: 1;
}


.filters>details[open]>summary::after, .key-terms>details[open]>summary::after {
    content: "\f077";
    font-family: "Font Awesome 6 Free";
    margin-left: 1rem;
    opacity: 0.7;
}



.key-terms>h3 {
    text-align: center;
    padding-top: 1rem;
    font-style: italic;
    font-size: larger;
}


.key-terms details p {
    border-top: 1px solid #cfcfcf;
    cursor: default;
    padding: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: #232323;
}



.filters>details input[type="checkbox"] {
    accent-color: var(--secondary-color);
}

.filters>details label {
    cursor: pointer;

    margin-left: 0.3rem;
}



.price-range {
    width: 90%;
    accent-color: var(--secondary-color);
    opacity: 0.8;
}

.price-range:hover {
    opacity: 1;

}

.max-price-label {
    position: relative;
    left: 11rem;
    margin-right: 2rem;
}











/* ------------------------------MODERN OPERATING SYSTEMS CSS----------------------------------------------------- */


.book-lecture-main > a{
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    gap:1em;
    width: 318px;
    text-decoration: none;
    margin-bottom:1em;
    margin-top: 4em;
    margin-left:2em;
}

.back-button{
    padding: 14px 28px;
    font-size: 10px;
    cursor: pointer;
    border-radius:4rem;
    height:2.5em;
    font-size:1.5em;
    

}


.back-button:hover{
    background-color: #608BC1;
    color: white;

}




#content-analysis, #contents-container, #details, #side-content {
    border-radius: 4rem;
    background-color: #EEEEEE;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 4rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

#content-analysis:hover, #contents-container:hover, #details:hover, #side-content:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
}

#content-analysis {
    padding: 5em;
}

#contents-container {
    width: 450px;
    text-align: center;
}

.book-pages , .product-author , .product-year, .product-stars-rating, .lecture-uni, .total-lectures{
    font-size: 1.2em;
    margin-bottom: 1em;

}

.ratings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ratings>p {
    margin-top: 1em;
    flex-basis: 100%;
}

.product-stars-rating, .product-stars-end-rating, .product-stars-start-rating {
    text-align: left;
    width: 30px;
    height: 30px;
    background: gold;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin: 10px;

}

.product-stars-start-rating {
    margin-left: 0px;
}

.product-stars-end-rating {
    background: linear-gradient(to right, gold 25%, white 30%);
}


.product-price {
    border-bottom: 10px solid #608BC1;
    text-align: right;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 900;



}

#content-analysis .product-details>h1 {
    font-style: italic;
    font-size: 2.5em;
    margin-bottom: 1em;
}



#content-analysis .product-description p {
    font-size: 1.3em;
    font-family: 'Poppins';
}



#Table-of-contents th, td {
    text-align: center;
    border-bottom: 5px solid #8EACCD;
    height: 5em;
}


#Table-of-contents a {
    text-decoration: none;
    color: black;

}

#details summary {
    margin-bottom: 2em;
    font-size: 1.5em;
    text-align: left;
    font-style: italic;
    font-weight: 600;
}

#details summary:hover {
    text-decoration: underline;
    cursor: pointer;
}



#details details[open] summary~* {
    animation: sweep .5s ease-in-out forwards;
}

@keyframes sweep {
    from {
        opacity: 0;
        margin-top: -10px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

#details>p {
    text-align: left;
    font-size: 1.3em;
    padding: 5em;
    padding-left: 15em;
    padding-right: 15em;
}

#details>a {
    text-decoration: none;
    font-style: italic;
    color: black;

}

#details>a:hover {
    text-decoration: underline;
}


#side-content {
    width: 550px;
    text-align: center;
    overflow: auto;
    height: 1500px;
    padding: 0%;

}

#side-content ul {
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
}

#side-content ul>li {
    list-style: none;
    width: 400px;
    margin-top: 5em;

}

#side-content ul>li>.book>header>h1 {
    font-size: 1em;
}

#side-content ul>li>.book>.stars-rating {
    text-align: center;
}

#side-content>header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #EEEEEE;
    padding-top: 4rem;
}

#side-content>header>h1 {
    padding-top: 1em;
    text-align: center;
    font-size: 2em;
    z-index: 1;

}

#side-content ul>li>.book > img ,  #side-content ul>li>.lecture > img {
    float:none;
    max-width:97%;
    height: auto;
}

#side-content::-webkit-scrollbar {

    height: 12px;
    width: 10px;
}


#side-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    margin: 5em 0;
    height: 20%;
}


#side-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    height: 20%;
}


#side-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#side-content::-webkit-scrollbar-corner {
    background: #f1f1f1;
}





/* ------------------------------FOOTER CSS----------------------------------------------------- */
/* Footer CSS */
footer {
    background-color: var(--footer-color);
    color: #ffffff;
    padding: 2rem;
    /* align-items: center;
    display: flex;
    justify-content: space-around; */
}



footer h2 {
    color: #ffffff8f;
    width: fit-content;
    padding: 2rem 0rem 0.5rem 0.0rem;
    font-size: 1.1rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


#left-footer li a, #middle-footer li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.2s ease;
}

#left-footer li a {
    font-weight: 700;
}

#left-footer address a {
    font-size: smaller;
}


#middle-footer li {
    padding: 0rem 0.0rem 1.0rem 0.0rem;
}

#left-footer a:hover, #middle-footer a:hover {
    color: #69699d;
}



#right-footer ul {
    display: flex;
}



ul .fa-brands {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem 1rem 1rem 0.5rem;
    border-radius: 50%;
    background-color: #ffffff8f;
    color: #4b4b4b;
}


.fa-brands:hover {
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 45%, rgba(142, 142, 144, 1) 100%); */
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 35%, rgba(142, 142, 144, 1) 100%);
}



#lower-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    margin-top: 1.5rem;
}



/* -------------------------------------- ABOUT US ----------------------------------------- */

.profile-card {
    height: 28rem;
    width: 20rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: transform 0.4s ease-in;
    margin-bottom: 1.5rem;
}

.profile-card .front {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}


.profile-card .front>img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    transition: all 0.4s ease;

}

.profile-card .front .info>h1 {
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px 4px #000000;
    z-index: 2;
}

.profile-card .front .info>h2 {
    position: absolute;
    left: 1.5rem;
    bottom: 2.0rem;
    font-size: 0.8rem;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px 4px #000000;
    z-index: 2;
}

.profile-card .front .info .arrowRight {
    position: absolute;
    bottom: 1.0rem;
    left: 13rem;
    color: #000000;
    z-index: 2;
}

.profile-card:hover .front>img {
    transform: scale(1.01);
    opacity: 0.85;
    filter: blur(1px);
}

/* Back Card Styling */
.profile-card .back {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 1rem 0 0 1rem;
    border-radius: 2rem;
    transform: translateY(150%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-card .back>h1 {
   
    font-size: 1.6rem;
    margin: 0;
}

.profile-card .back>h2 {
   
    font-size: 1rem;
    font-weight: normal;
    color: #666;
    margin: 0.2rem 0;
}

.profile-card .back>p {
    padding-right: 2rem;
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
    color: #444;
    
}

.profile-card .back>hr {
    width: 90%;
}


.follow .fa-brands {
    float: left;
}




.btnImitation {
    display: none;
}

.profile-card .back .backBtn {
    padding: 0.5rem 2rem;
    background-color: black;
    border-radius: 4px;
    color: #f1f1f1;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* checkbox Label */
.arrowRight {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: none;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrowRight:hover {
    background-color: #444;
    transform: scale(1.1);
}

.arrowRight:hover i.fa {
    padding-left: 0.4rem;
    transition: padding-left 0.3s ease-in;
}

/* Active States for checkbox */
.btnImitation:checked~.front {
    opacity: 0;
}

.btnImitation:checked~.front .info {
    visibility: hidden;
}

.btnImitation:checked~.back {
    transform: translateY(0);
    opacity: 1;
}