
  *{
    margin: 0; 
    padding: 0;
  }
  
 
 
 
 /*nav bar with fixed position using flex box layout*/
 #navBar{
    width:100%;
    height: 75px;
    display: flex;
    align-items: center;
    top: 0;
    background-color: #F3F3E0;
    z-index:1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;

 }

 /*menu container styling ,flex layout items are  centered*/
#menu{
    width:100%;
    display:flex;
    justify-content: center;
    list-style:none;
    text-align: center;
    
}
/*list  style none*/
#menu li{
    margin-left:50px;
    list-style: none;
    
}
/*list items are not underlined added a smooth transition for hovering */
#menu li a{
    font-size: 19px;
    text-decoration: none;
    transition: 0.3s ease;
    color: black;
    margin: 50px;;
    size: 200px;

}
/*hover-color wight*/
#menu li a:hover{
    color:#ffffff;
}
/*container fro the searchBar and the button using flex*/
#navSearch{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 500px;;


}
/*input form*/
#navSearch form{
    display: flex;
    margin-right:  10px;
    padding-top: 20px;


}
/*styling of the actual input form*/
#navSearch input{
   
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    width: fill;
    font-size: 16px;
    height: 20px;

}

/*style for the hover*/
#navSearch input :hover{

 border: 1px solid #8EACCD;

}
/*button 30x30*px*/
#navSearch button {
    background: none;
    border: none;
    text-align: center;
    width: 30px;;
    height: 30px;
    
    
    
   
} 
/*button image*/
#navSearch button img{
    width:30px;
    height:30px;
    text-align:center;
    margin-bottom : 30px;
}
/*logo alignment*/
#logo{
    width:300px;
    height:70px;
    padding-left:1em;

}
/*body color*/
body {
    background-color: #F3F3E0;
  }


/*welcoming section using flex layout with rows*/
#Welcome-section{
    display: flex;
    background-color: #8EACCD;
    height: 700px;
    width:fill;
    margin: 0;
    box-sizing: border-box;
    flex-direction: row;
    margin-top:5em;
    padding: 10px;
    flex-wrap: wrap;
    
    
    

}

/*styling of the welcome section header*/
#Welcome-section h2{
    color: white;
    font-size: 5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    align-self:flex-start;
    margin-left:10px;


    
   

    
    
}
/*styling of the welcome section paragraph*/
#Welcome-section p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 35em;
    text-align: left;
    font-size: 1.5em;
    margin-left:1em;
    line-height: 1.2;
    word-spacing: 5px;
}


/*styling of the welcome section image*/
#Welcome-section img{
    width: 35em;
    height: 20em;
    border-radius: 20px;
    align-self: flex-end;
    margin-left: 50em;
    
    
}
/*styling of the welcome section list*/
#Welcome-section ul{
    margin-left: 70em;
    margin-right:1em;

}

#Welcome-section li  {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
/*styling of the categories section container using flex layout*/
#categories-section{

    display: flex;
    background-color: #F3F3E0;
    height: 700px;
    width:fill;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;

}





#categories-section h2{

    color: black;
    font-size: 5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    align-self:center;
    margin-right:2.7em;
}

/*styling of the categories section main paragraph*/
#categories-section #main{
    margin-top:5em;
    color: black;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width:25em;
    text-align: left;
    align-self: flex-start;
    margin-left:1em;

}

/*styling of the slogan*/
#categories-section p{
    margin-top:5em;
    color: black;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: flex-start;
    max-width:15em;
    text-align: center;
    margin-left:1em;
    word-spacing: 10px;
   

}


#categories-section img{
    margin-top:2em;
    width: 35em;
    height: 20em;
    margin-left :10em;
    border-radius:20px;
    margin-top:110px;
    margin-right:10em;

}




/*styling of the footer using flexbox and space between layout using 3 columns*/
footer {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px; 
    background-color: #F3F3E0; 
    border-top: 10px solid #8EACCD;
}

footer h2 {
    color: #608BC1; 
    font-size: 1.5em; 
    margin-bottom:10px ; 
}

.menu {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

.menu li {
    margin: 5px 0;
}

.menu a {
    color: #8EACCD; 
    text-decoration: none; 
}

.menu a:hover {
    text-decoration: underline; 
}

footer div {
    flex: 1; 
    padding: 0 20px; 
}




