:root {
    /* color palette for website */
    --primary-color: #F3F3E0;
    --secondary-color: #8EACCD;
    --footer-color: rgb(69, 69, 69);


}


.wrapper-three-col{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    row-gap: 8rem;
    min-height: 100vh;
    column-gap: 4rem;
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(145deg, var(--secondary-color) 30%, var(--primary-color) 80%);
}

p {
    font-family:"Poppins", sans-serif;
}

h1 , h2{

    font-family: "Libre Franklin", sans-serif;
}

/* -------------------Header style ----------------------------------*/
.header {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 0 0 1rem 1rem; */
}

/* Logo */
#logo {
    width: 15rem;
    height: auto;
    padding: 0.5rem 1rem;
}

/* Search bar */
#search-bar {
    position: relative;
    min-width: 40rem;
    display: flex;
    align-items: center;
}

#search-bar>input {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    border: 1px solid gainsboro;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    outline: none;
}

#search-bar>.search-button {
    background: none;
    border: none;
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
}

#search-icon {
    width: 2.5rem;
    height: 2.5rem;
}

/* Navigation bar */
#navBar {
    margin-right: 2rem;
}

#navBar>ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

#navBar li a {
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    transition: background-color 0.3s;
}

#navBar li a:hover {
    color: white;

}




/* ------------------INDEX MAIN CSS---------------------------- */
main {
    margin-top: 2rem;
    padding: 3rem 1.5rem;

}

.wrapper-three-col{
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

/* Main section layout */
#main-section {
    width: 100%;
    grid-area:main;
    grid-gap:2em;
    display: grid;
    grid-row:1/2;
    grid-column:1/-1;
    grid-template-columns:1fr 1fr;
}

#index-main{
    padding:2rem;
    grid-column:1/-1;
    display:grid;
    grid-template-rows: 1fr 1fr;
    
}

/* Welcome section styling */
#Welcome-section, #categories-section, #member-section{
    padding: 2.5rem;
    background-color: #ffffff;
    color: #333;
    border-radius: 4rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* transform-style: preserve-3d; */
    margin-bottom: 2rem;
    overflow: hidden;
}
#Welcome-section:hover, #categories-section:hover, #member-section:hover{
    /* transform: translateZ(20px) scale(1.01); */
    transform: translateY(-10px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
}


#content>h2, #categories-section>h2 {
    font-size: 5em;
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-style: italic;
}

#Welcome-section p, #categories-section p {
    font-size: 1.5em;
    line-height: 1.8;
    color: #ffffff;
}

#image-container img, #categories-section img {
    float: left;
    width: 150px;
    height: auto;
    filter: drop-shadow(0 0 0.75rem rgb(124, 124, 124));
}

#image-container ul {
    list-style: none;
    padding: 0;
    margin: 0;    
}

#Welcome-section ul>li {
    font-size: 1.2em;
    margin-bottom: 0.75rem;
    color: #ffffff;

}

#categories-section a {
    text-decoration: none;
    color: #b9b9b9;
    font-weight: bold;
    transition: color 0.3s ease;
}

#categories-section a:hover {
    color: #69699d;
}


#member-section{
   background-color:#021526;
    grid-row:2/-1;
    grid-column:1/2;
}

#member-section>h2{
    font-size: 5em;
    margin-bottom: 1.5rem;
    color: #ffffff;
    
    
}

#member-section p{
    font-size:2em;
    color:#ffffff;
    float:left;
    width:17em;
    line-height:1.5em;
}

#paragraph-button{
    display: grid;
    grid-template-rows:1fr;
    float:left;
    text-align: center;
    margin-right:10em;
    margin-bottom:10em;
    grid-gap:5em;
}

#paragraph-button{
    text-align: left;
}

#paragraph-button .login-or-signup{
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius:4rem;
    border:5px white;
    width:70%;
    height:3em;
    margin-left:1.5em;
    font-size:1.5em;
}

#member-section > img{
    float: right;
    width: 500px;
    height: 500px;
    margin-right:10em;
    margin-bottom:5em;
   
}


#Welcome-section{
    padding-top:0%;
    overflow: hidden;
    grid-column:1/2;
    grid-row:1/2;
    position: relative;
    z-index:1;
}

.back-video{
    position:absolute;
    left: 0;
    right:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

}

#content>h2{
    margin-top:0.5em;
}

#Welcome-section p{
    border-radius:4rem;
    margin-bottom:5em;

}
#categories-section{
    grid-column:2/-1;
    grid-row:1/2;
    background-image: url("../Resources/intersting-img.png");
}




/*--------------OPERATING SYSTEMS CSS-----------*/
.wrapper-three-col {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    row-gap: 4rem;
    min-height: 100vh;
    column-gap: 4rem;
    grid-template-areas:
        'header header header'
        'upper-page upper-page upper-page'
        'filters books key-terms'
        'filters lectures key-terms'
        'footer footer footer';
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

#book-section {
    grid-area: books;
}

#lecture-section {
    grid-area: lectures;
}

.filters {
    grid-area: filters;
}

.key-terms {
    grid-area: key-terms;
}


  .upper-page>h1,  .upper-page>h2 {
    color: white;
    font-size: 5em;
    font-style: italic;
    margin-bottom: 0.1em;
    margin-left: 0.3em;
}

.upper-page>h2 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.upper-page{
    margin-top:4rem;
    grid-area:upper-page;
}

.upper-page > p {
    color: white;
    line-height: 1.5em;
    text-align: left;
    padding: 0.5em;
    margin-left:0.6em;
}

 .keywords {
    border-bottom: 5px solid #F3F3E0;
    border-bottom-style: double;
    padding: 0.2em;

}

 .emphasize , .emphasize-child {
    font-size: 1.5em;
    font-weight: 400;
}

.emphasize-child{
    margin: 0;
    font-size: 1.7em;
}



.upper-page > img {
    width:250px;
    height: 250px;
    padding-bottom: 2em;
    padding-right: 2em;
    margin-top: -10em;
    float: right;

} 

#operating-main {
    margin: 0;
    padding: 0;
}

.course {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



#book-section, #lecture-section {
    background-color: #ffffff;
    color: #333;
    border-radius: 4rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* margin: 3rem; */
    padding: 2.5rem;
    /* transform: translateY(-20px); */
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    row-gap: 20px;
}



#book-section:hover, #lecture-section:hover, #page-description:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
}

#lecture-section {
    margin-bottom: 0em;
}

#book-section h2, #lecture-section h2 {
    text-align: center;
    font-size: 2em;

}



.book, .lecture {
    box-sizing: border-box;
    height: fit-content;
    transition: box-shadow 0.2s ease;
    border: 1px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 2rem;

}

/* .lecture {
    height: 1000px;
    margin-bottom: 5em;

} */

.book:hover, .lecture:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

}

.book header>h1 {
    margin-bottom: 1em;
}

.book header>h1>a {
    text-decoration: none;
    color: black;

}

.book cite:hover {
    text-decoration: underline;
    color: black;
}

.book img {
    margin: 1em;
    border: 3px solid black;
    float: right;
    height: 20rem;
    width: auto;
}

.book>p {
    /* margin-top: 1rem; */
    font-weight: 300;
    text-align: left;
}

.book .author, .book .price, .book .pages, .book .stars-rating, .lecture .university, .instructor, .number-of-lectures, .duration {
    font-size: 1em;
    text-align: left;
    height: 2em;
    font-weight: bold;
}


.book.author {
    margin-top: 1em;
}

.book .price {
    margin-top: 0.5em;
    text-align: end;
    display: block;

}


#lecture-section>h2, #book-section>h2 {
    /* padding-top: 2em; */
    text-align: center;
    font-size: 2em;
    background-color: #ffffff;
    border-radius: 4rem;

}



.lecture {
    padding: 2em;
    background-color: #ffffff;

}



.lecture>img {
    width: 20rem;
    height: auto;
    margin: 1rem;
    border: solid black 3px;
    float: right;
}

.lecture>header>h1 {
    margin-bottom: 3em;
    text-align: center;


}

.lecture>header>h1>a {
    text-decoration: none;
    color: black;
}

.lecture>header>h1>a:hover {
    text-decoration: underline;
    color: black;

}

.lecture .university, .lecture .instructor, .lecture .number-of-lectures, .lecture .duration, .stars-rating {

    margin-left: 1em;
}

.lecture .instructor {
    margin-top: 1em;
}

.lecture .duration, .lecture .stars-rating {
    margin-bottom: 1em;
}


.lecture .mini-description {
    font-size: 1em;
    text-align: left;
    padding-right: 5em;
    /* height: 2em; */
    margin-left: 1em;
    font-weight: 300;

}




.filters, .key-terms {
    box-sizing: border-box;
    background-color: #ffffff;
    color: #333;
    border-radius: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height: fit-content;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.filters {
    margin-left: 0.5rem;
}

.key-terms {
    margin-right: 0.5rem;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-label-container {
    display: flex;
    flex-direction: row;
    column-gap: 1px;
    align-items: normal;


}

.price-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filters>details, .key-terms>details {
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem 1rem 1rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.key-terms>details {
    font-size: 1rem;
    margin: 1rem auto;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background: var(--primary-color);
    border-radius: 2rem;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.filters>details:last-of-type, .key-terms>details {
    border-bottom: 0px;
}


.filters>details>summary {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.filters summary, .key-terms summary {
    list-style-type: none;
}


.key-terms>details>summary {
    padding: 1em;
    font-size: large;
    font-style: italic;
    cursor: pointer;
}

.filters summary::after, .key-terms summary::after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    margin-left: 1rem;
    opacity: 0.7;
    cursor: pointer;

}

.key-terms summary::after {
    font-weight: bold;
    font-style: normal;
}

.filters summary:hover::after, .filters details[open]>summary:hover::after, .key-terms summary:hover::after, .key-terms details[open]>summary:hover::after {

    opacity: 1;
}


.filters>details[open]>summary::after, .key-terms>details[open]>summary::after {
    content: "\f077";
    font-family: "Font Awesome 6 Free";
    margin-left: 1rem;
    opacity: 0.7;
}



.key-terms>h3 {
    text-align: center;
    padding-top: 1rem;
    font-style: italic;
    font-size: larger;
    font-family: "Libre Franklin", sans-serif;
}


.key-terms details p {
    border-top: 1px solid #cfcfcf;
    cursor: default;
    padding: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: #232323;
}



.filters>details input[type="checkbox"] {
    accent-color: var(--secondary-color);
}

.filters>details label {
    cursor: pointer;

    margin-left: 0.3rem;
}



.price-range {
    width: 90%;
    accent-color: var(--secondary-color);
    opacity: 0.8;
}

.price-range:hover {
    opacity: 1;

}




/* ------------------------------MODERN OPERATING SYSTEMS CSS----------------------------------------------------- */

.wrapper-three-col-book-lecture{
    display: grid;
    grid-gap: 2.5rem;
    grid-row-gap:11em;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
}



.book-lecture-main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    margin: 0;
    padding: 0;
    grid-column:1/-1;
    


}

.book-lecture-main > h1 {
    text-align: left;
    color: white;
    font-style: italic;
    font-size: 5em;
    margin-left: 1.5em;
    
}

#back-button{
    display: grid;
    
}

#back-button .back-button{
    padding: 14px 28px;
    font-size: 10px;
    cursor: pointer;
    border-radius:4rem;
    width:50%;
    height:2.5em;
    margin-left:2.1em;
    font-size:1.5em;
    

}
#back-button .back-button:hover{
    background-color: #608BC1;
    color: white;

}

#book-analysis, #contents-container, #details, #side-books {
    border-radius: 4rem;
    background-color: #ffffff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 4rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

#book-analysis:hover, #contents-container:hover, #details:hover, #side-books:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);

}

#book-analysis {
    margin-left:0.7em;
    align-self: center;
    height: 1400px;
    width:52%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 500px);
    grid-row-gap:5em;
    padding: 5em;
    overflow: hidden;
    margin-bottom:4em;

}

#book-analysis>img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.book-pages, .book-author, .book-year, .book-stars-rating {
    font-size: 1.2em;
    margin-bottom: 1em;

}

.ratings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ratings>p {
    margin-top: 1em;
    flex-basis: 100%;
}

.book-stars-rating, .book-stars-end-rating, .book-stars-start-rating {
    text-align: left;
    width: 30px;
    height: 30px;
    background: gold;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    margin: 10px;

}

.book-stars-start-rating {
    margin-left: 0px;
}

.book-stars-end-rating {
    background: linear-gradient(to right, gold 25%, white 30%);
}


.book-price {
    border-bottom: 10px solid #608BC1;
    text-align: right;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 900;



}

#book-analysis .book-details>h1 {
    font-style: italic;
    font-size: 2.5em;
    margin-bottom: 1em;
}



#book-analysis .book-description {
    grid-row: 2/-1;
    grid-column: 1/-1;
}

#book-analysis .book-description p {
    font-size: 1.15em;
    text-align: left;
}


#Table-of-contents th, td {
    text-align: center;
    border-bottom: 5px solid #8EACCD;
    height: 5em;
}

#Table-of-contents a {
    text-decoration: none;
    color: black;

}


#contents-container {
    height: 1400px;
    padding: 2em;
    text-align: center;
    grid-area:nav;
    width: 98%;
    margin-left:1em;

}

#details {
    width: 98%;
    margin-left: 1em;
    text-align: center;
}

#details summary {
    margin-bottom: 2em;
    font-size: 1.5em;
    text-align: left;
    font-family: "Libre Franklin", sans-serif;
    font-style: italic;
    font-weight: 600;
}

#details summary:hover {
    text-decoration: underline;
    cursor: pointer;
}



#details details[open] summary~* {
    animation: sweep .5s ease-in-out forwards;
}

@keyframes sweep {
    from {
        opacity: 0;
        margin-top: -10px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

details > p {
    text-align: left;
    font-size: 1.2em;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
}

details > a {
    text-decoration: none;
    font-style: italic;
    color: black;
    
}

details > a:hover {
    text-decoration: underline;
}

details > figure {
    float: right;
    margin: 0rem 0rem 1.5rem 2rem;
    max-width: 70%;

}

details > figure> figcaption {
    font-size: small;
    position: relative;
    left: 2rem;
    color: #2b2b2b;
    max-width: 80%;
}





#about-the-author p {
    text-align: left;
}




#about-the-author>img {
    width: 200px;
    height: 200px;
    float: center;
    margin: 2em;
}

#side-books {
    padding: 0%;
    grid-area:aside ;
    text-align: center;
    overflow: auto;
    height: 1400px;
    width:98%;

}

#side-books ul {
    align-items: center;
    padding-left: 2em;
    padding-right: 1em;

}

#side-books ul>li {
    list-style: none;
    margin-top: 3em;

}

#side-books ul>li>.book>header>h1 {
    font-size: 0.9em;
}

#side-books ul>li>.book {
   text-align: center;
   height: 800px;
   border-radius:2rem;
}

#side-books ul>li>.book > .author {
    line-height: 1em;
 }

 #side-books ul>li>.book > img {
    float:none;
 }

#side-books ul>li>.book>.stars-rating {
    text-align: center;
}

#side-books>header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;

}

#side-books>header>h1 {
    
    padding-top: 1em;
    text-align: center;
    font-size: 2em;
    z-index: 1;

}


#side-books::-webkit-scrollbar {
    height: 0px;
    width: 10px;
}


#side-books::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    margin: 5em 0;
    height: 20%;
}


#side-books::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    height: 20%;
}

#side-books::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#side-books::-webkit-scrollbar-corner {
    background: #f1f1f1;
}


/* ------------------------------FOOTER CSS----------------------------------------------------- */
/* Footer CSS */
footer {
    background-color: var(--footer-color);
    color: #ffffff;
    padding: 2rem;
    /* align-items: center;
    display: flex;
    justify-content: space-around; */
}



footer h2 {
    color: #ffffff8f;
    width: fit-content;
    padding: 2rem 0rem 0.5rem 0.0rem;
    font-size: 1.1rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


#left-footer li a, #middle-footer li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.2s ease;
}

#left-footer li a {
    font-weight: 700;
}

#left-footer address a {
    font-size: smaller;
}


#middle-footer li {
    padding: 0rem 0.0rem 1.0rem 0.0rem;
}

#left-footer a:hover, #middle-footer a:hover {
    color: #69699d;
}



#right-footer ul {
    display: flex;
}



#right-footer .fa-brands {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: #ffffff8f;
    color: #4b4b4b;
}


.fa-brands:hover {
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 45%, rgba(142, 142, 144, 1) 100%); */
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 35%, rgba(142, 142, 144, 1) 100%);
}



#lower-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    margin-top: 1.5rem;
}